/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;900&display=swap");

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #587291;
  font-size: 3rem;
}

.intro {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./franover1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 5px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

input {
  font-size: 1.1rem;
  padding: 8px;
  border-radius: 2px;
  border: none;
}

.output {
  margin-top: 10vh;
  color: #F1F7ED;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  background: #587291;
  padding: 8px 20px;
  grid-column: 1 / -1;
  text-align: center;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

a:hover {
  background: rgb(247, 114, 91);
  color: white;
  transform: scale(1.01);
}
